.card{
    height: 8em;
    display: flex;
    padding: 1em;
    border-radius: 10px;
    justify-content: space-between;
    min-width: 18em;
    margin-bottom: 2em;
    max-width: 230px;
}

.card:hover{
    #arrow {
        opacity: 1;
        transition: opacity .5s;
    }
    #imgcontainer{
        height: 80%;
        transition: height .5s;
    }
    transform: translateY(-.2rem);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: transform .5s;
}
    

#arrow{
    opacity: 0;
}


.left{
    display: flex;
    flex-direction: column;
    gap: .5em;
    color: white;
    font-size: xx-large;
}

.left>div{
    display: flex;
    gap:.2em;
}

.tag{
    border-radius: 25px;
    border: 1.5px solid white;
    padding: .3em;
    font-size: .5em;
}

img{
    max-width:100%;
    max-height:100%;
    background-color: transparent;
}

.right{
    display: flex;
    flex-direction: column;
}:hover{cursor: pointer;}

#imgcontainer{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: transparent;
}

#arrow{
    color: white;
    align-self: flex-end;
    z-index: 0;
    position: relative;
}

.favico{
    transition: all .2s ease-in-out; 
}

.favico:hover{
    scale: 1.3;
}

p{
    font-size: .3em;
}

@media (min-width: 800px) {
    .card{
        margin-left: 2em;
    }
}

@media (min-width: 800px) {
    .card{
        width: 340px;
    }
}


