.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}
.wrapper{
    padding-block: .2em;
    padding-inline: .3em;
    height: fit-content;
    width: fit-content;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 50%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    font-weight: lighter;
}

.wrapper:hover{
    cursor: pointer;
}

.wrapper:active{
    background-color: rgb(220, 220, 220);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.label{
    font-weight: bold;
}




@media (max-width: 440px) {
.main{
    font-size: .8em;
}
}
