.wrapper{
    display: flex;
    padding: 1em;
    height: 100%;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: fit-content;
}

.h2{
    font-weight: bold;
    font-size: larger;
}