@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.main{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 25px;
    height: 90vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1em;
    height: fit-content;
    cursor: pointer;
}

.top{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5em;
    padding-right: 1em;
}

.title{
    font-size: 3em;
    text-align: center;
    font-weight: bolder;
}

#logo{
    width: 3em;
    height: 3em;
    margin-left: 2em;
}

#spinner{
    width: 100%;
    height: 100%;
}

.nav{
    display: flex;
    width: 100%;
    position: relative;
    gap: .5em;
}

.subnav{
    display: flex;
    flex-direction: row;
    gap: .5em
}

@media (min-width: 740px) {
    .top{
        flex-direction: row;
        align-items: center;
    }
    .nav{
        justify-content: space-between;
        width: 70%;
    }
}