<div class="main" [ngStyle]="{backgroundColor: (!list && !!pokemon) ? pokemon.color : '#ffffff'}">
  <div class="header">
    <!-- <h1 [ngStyle]="{color: list ? '#000000':'#ffffff'}">POKEDEX</h1> -->
    <div class="title" [ngStyle]="{color: list ? '#000000':'#ffffff'}">POKEDEX</div>
    <img src="https://cdn-icons-png.flaticon.com/512/1427/1427643.png" alt="pokeball image" id="logo"/>
  </div>
  
  <div class="nav">
    <app-favorites [favs]="favs" [change]="change" [list]="list"></app-favorites>
    <app-filter [list]="list" [types]="types" [pokemons]="pokemons" [setPokemons]="setPokemons"
    [colours]="colours" [setSelected]="setSelected" *ngIf="!battle"></app-filter>
    <app-fighters [list]="list" [fighters]="fighters" [change]="change" [setbattle]="setbattle"></app-fighters>
    <app-addpoke [setadd]="setadd" [list]="list" [add]="add"></app-addpoke>
  </div>
  
  <div style="height:100%">
    <ng-container *ngIf="pokemons.length>1 else nopokemons">
      <ng-container *ngIf="list && !battle && !add" ><app-list [pokemons]="pokemons" [change]="change" [setfav]="setfav"
        [selected]="selected" [setfighter]="setfighter"></app-list></ng-container>
        <ng-container *ngIf="!list  && !battle  && !add"><app-view [pokemon]="pokemon" [change]="change" [setfav]="setfav"></app-view></ng-container>
        <ng-container *ngIf="battle  && !add"><app-battle [fighters]="fighters" [colours]="colours"></app-battle></ng-container>
        <ng-container *ngIf="add"><app-add [setadd]="setadd" [types]="types" [colours]="colours"></app-add></ng-container>
      </ng-container>
  </div>



  <ng-template #nopokemons>
    <div>
      <img src="https://cdn.dribbble.com/users/1186261/screenshots/3718681/_______.gif" alt="loading" id="spinner">
    </div>
  </ng-template>
  
</div>