.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 7em;
    margin-left: 1em;
}

.row{
    display: flex;
    flex-direction: row;
}


.wrapper{
    margin-inline: 1em;
    padding: .2em;
    height: 2em;
    width: max-content;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 25px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding-inline: .5em;
}


.ready {
    margin-inline: 1em;
    padding: .2em;
    height: 2em;
    width: max-content;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding-inline: .5em;
    background: linear-gradient(-45deg, #ee7752, #e77fa7, yellow, rgb(248, 96, 96));
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    color: white;
    cursor: pointer;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}







.container{
    height: 100%;
    display: flex;
}

img{
    max-width: 100%;
    max-height: 100%;
}

.label{
    font-weight: bold;
}

.placeholder{
    color: lightness($color: #000000);
    font-weight: lighter;
}


@media (max-width: 440px) {
    .main{
        font-size: .8em;
    }
    }