.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 7em;
    margin-left: 1em;
}

.submain{
    display: flex;
    align-items: center;
    gap: .2em;
}

.wrapper{
    margin-inline: 1em;
    padding: .2em;
    height: 2em;
    width: max-content;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 25px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding-inline: .5em;
}

#icon{
    font-size: 1em;
    height: 100%;
    width: 100%;
}

.container{
    height: 100%;
    display: flex;
}

img{
    max-width: 100%;
    max-height: 100%;
}

.label{
    font-weight: bold;
}

.placeholder{
    color: lightness($color: #000000);
    font-weight: lighter;
}


@media (max-width: 440px) {
    .main{
        font-size: .9em;
    }
}
