<div class="main">
    <div class="submain">
        <mat-icon class="favico" aria-hidden="false" aria-label="favorite" fontIcon="{{'favorite'}}" id="icon"
            [ngStyle]="{color: nav.current!=='view' ? '#000000': '#ffffff'}">
        </mat-icon>
        <div class="label" [ngStyle]="{color: nav.current!=='view' ? '#000000': '#ffffff'}">Favorites</div>
    </div>
    <div class="wrapper">
        <div class="container" *ngIf="favs.length>0 else nofav">

            <div *ngFor="let fav of favs" class="container" (click)="change($event, fav)" style="cursor: pointer;">
                <img src="{{fav.image[1]}}">
            </div>

        </div>
        <ng-template #nofav>
            <div class="placeholder">No one yet</div>
        </ng-template>
    </div>
</div>